.Education {
  height: 100vh;
  
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Education .table {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  text-align: left;
  gap: 2rem;
}

.Education h1 {
  font-size: 7rem;
  margin-bottom:1rem;
  margin-top: 0;
}

.Education h5 {
  font-size: 1.2rem;;
}